openapi: 3.2.0
info:
  title: Circle Developer Platform Admin - Events API
  description: Circle (circle.so) is an all-in-one community platform for creators, coaches, and brands.
  version: '2.0'
  contact:
    name: Circle
    url: https://circle.so
  license:
    name: Proprietary
    url: https://circle.so/terms
servers:
- url: https://app.circle.so
  description: Circle production
security:
- tokenAuth: []
tags:
- name: Admin Events
  description: Events and event attendees.
paths:
  /api/admin/v2/events:
    get:
      tags:
      - Admin Events
      summary: List events
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of events.
      operationId: getApiAdminV2Events
      x-operation-id-source: derived
    post:
      tags:
      - Admin Events
      summary: Create an event
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created event.
      operationId: postApiAdminV2Events
      x-operation-id-source: derived
  /api/admin/v2/events/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Admin Events
      summary: Retrieve an event
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The event.
      operationId: getApiAdminV2EventsById
      x-operation-id-source: derived
    put:
      tags:
      - Admin Events
      summary: Update an event
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The updated event.
      operationId: putApiAdminV2EventsById
      x-operation-id-source: derived
    delete:
      tags:
      - Admin Events
      summary: Delete an event
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Deletion result.
      operationId: deleteApiAdminV2EventsById
      x-operation-id-source: derived
  /api/admin/v2/event_attendees:
    get:
      tags:
      - Admin Events
      summary: List event attendees
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of attendees.
      operationId: getApiAdminV2EventAttendees
      x-operation-id-source: derived
    post:
      tags:
      - Admin Events
      summary: Add an event attendee
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The added attendee.
      operationId: postApiAdminV2EventAttendees
      x-operation-id-source: derived
    delete:
      tags:
      - Admin Events
      summary: Remove an event attendee
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Removal result.
      operationId: deleteApiAdminV2EventAttendees
      x-operation-id-source: derived
components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Admin API token in the format "Token AUTH_TOKEN". Community admins generate the token on the Developers -> Tokens page.
    bearerAuth:
      type: http
      scheme: bearer
      description: Member-scoped JWT access token from /api/v1/headless/auth_token in the format "Bearer ACCESS_TOKEN". Expires after one hour.
