openapi: 3.2.0
info:
  title: Circle Developer Platform Admin - Courses API
  description: Circle (circle.so) is an all-in-one community platform for creators, coaches, and brands.
  version: '2.0'
  contact:
    name: Circle
    url: https://circle.so
  license:
    name: Proprietary
    url: https://circle.so/terms
servers:
- url: https://app.circle.so
  description: Circle production
security:
- tokenAuth: []
tags:
- name: Admin - Courses
  description: Course sections, lessons, and progress.
paths:
  /api/admin/v2/course_sections:
    get:
      tags:
      - Admin - Courses
      summary: List course sections
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of course sections.
      operationId: getApiAdminV2CourseSections
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Courses
      summary: Create a course section
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created section.
      operationId: postApiAdminV2CourseSections
      x-operation-id-source: derived
  /api/admin/v2/course_lessons:
    get:
      tags:
      - Admin - Courses
      summary: List course lessons
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of course lessons.
      operationId: getApiAdminV2CourseLessons
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Courses
      summary: Create a course lesson
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created lesson.
      operationId: postApiAdminV2CourseLessons
      x-operation-id-source: derived
  /api/admin/v2/course_lessons/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Admin - Courses
      summary: Retrieve a course lesson
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The course lesson.
      operationId: getApiAdminV2CourseLessonsById
      x-operation-id-source: derived
    patch:
      tags:
      - Admin - Courses
      summary: Update a course lesson
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The updated lesson.
      operationId: patchApiAdminV2CourseLessonsById
      x-operation-id-source: derived
    delete:
      tags:
      - Admin - Courses
      summary: Delete a course lesson
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Deletion result.
      operationId: deleteApiAdminV2CourseLessonsById
      x-operation-id-source: derived
  /api/admin/v2/course_lesson_progress:
    put:
      tags:
      - Admin - Courses
      summary: Set a member's course lesson progress
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Updated progress.
      operationId: putApiAdminV2CourseLessonProgress
      x-operation-id-source: derived
components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Admin API token in the format "Token AUTH_TOKEN". Community admins generate the token on the Developers -> Tokens page.
    bearerAuth:
      type: http
      scheme: bearer
      description: Member-scoped JWT access token from /api/v1/headless/auth_token in the format "Bearer ACCESS_TOKEN". Expires after one hour.
