openapi: 3.2.0
info:
  title: Circle Developer Platform Headless - Member API
  description: Circle (circle.so) is an all-in-one community platform for creators, coaches, and brands.
  version: '2.0'
  contact:
    name: Circle
    url: https://circle.so
  license:
    name: Proprietary
    url: https://circle.so/terms
servers:
- url: https://app.circle.so
  description: Circle production
security:
- tokenAuth: []
tags:
- name: Headless - Member
  description: Member-authenticated experience endpoints.
paths:
  /api/headless/v1/home:
    get:
      tags:
      - Headless - Member
      summary: Get the member home feed
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The member's home feed.
      operationId: getApiHeadlessV1Home
      x-operation-id-source: derived
  /api/headless/v1/spaces:
    get:
      tags:
      - Headless - Member
      summary: List spaces visible to the member
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The member's spaces.
      operationId: getApiHeadlessV1Spaces
      x-operation-id-source: derived
  /api/headless/v1/spaces/{id}/join:
    post:
      tags:
      - Headless - Member
      summary: Join a space
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Join result.
      operationId: postApiHeadlessV1SpacesByIdJoin
      x-operation-id-source: derived
  /api/headless/v1/spaces/{space_id}/posts:
    get:
      tags:
      - Headless - Member
      summary: List posts in a space
      security:
      - bearerAuth: []
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A page of posts.
      operationId: getApiHeadlessV1SpacesBySpaceIdPosts
      x-operation-id-source: derived
    post:
      tags:
      - Headless - Member
      summary: Create a post in a space
      security:
      - bearerAuth: []
      parameters:
      - name: space_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The created post.
      operationId: postApiHeadlessV1SpacesBySpaceIdPosts
      x-operation-id-source: derived
  /api/headless/v1/posts/{post_id}/comments:
    get:
      tags:
      - Headless - Member
      summary: List comments on a post
      security:
      - bearerAuth: []
      parameters:
      - name: post_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A page of comments.
      operationId: getApiHeadlessV1PostsByPostIdComments
      x-operation-id-source: derived
    post:
      tags:
      - Headless - Member
      summary: Comment on a post
      security:
      - bearerAuth: []
      parameters:
      - name: post_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The created comment.
      operationId: postApiHeadlessV1PostsByPostIdComments
      x-operation-id-source: derived
  /api/headless/v1/posts/{post_id}/user_likes:
    post:
      tags:
      - Headless - Member
      summary: Like a post
      security:
      - bearerAuth: []
      parameters:
      - name: post_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Like result.
      operationId: postApiHeadlessV1PostsByPostIdUserLikes
      x-operation-id-source: derived
  /api/headless/v1/community_events:
    get:
      tags:
      - Headless - Member
      summary: List community events
      security:
      - bearerAuth: []
      responses:
        '200':
          description: A page of community events.
      operationId: getApiHeadlessV1CommunityEvents
      x-operation-id-source: derived
  /api/headless/v1/events/{event_id}/event_attendees:
    post:
      tags:
      - Headless - Member
      summary: RSVP to an event
      security:
      - bearerAuth: []
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The RSVP.
      operationId: postApiHeadlessV1EventsByEventIdEventAttendees
      x-operation-id-source: derived
  /api/headless/v1/courses/{course_id}/sections:
    get:
      tags:
      - Headless - Member
      summary: List course sections
      security:
      - bearerAuth: []
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The course sections.
      operationId: getApiHeadlessV1CoursesByCourseIdSections
      x-operation-id-source: derived
  /api/headless/v1/courses/{course_id}/lessons/{id}:
    get:
      tags:
      - Headless - Member
      summary: Get a course lesson
      security:
      - bearerAuth: []
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The course lesson.
      operationId: getApiHeadlessV1CoursesByCourseIdLessonsById
      x-operation-id-source: derived
  /api/headless/v1/messages:
    get:
      tags:
      - Headless - Member
      summary: List chat rooms / direct messages
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The member's chat rooms.
      operationId: getApiHeadlessV1Messages
      x-operation-id-source: derived
    post:
      tags:
      - Headless - Member
      summary: Start a chat room / direct message
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The created chat room.
      operationId: postApiHeadlessV1Messages
      x-operation-id-source: derived
  /api/headless/v1/messages/{chat_room_uuid}/chat_room_messages:
    get:
      tags:
      - Headless - Member
      summary: List messages in a chat room
      security:
      - bearerAuth: []
      parameters:
      - name: chat_room_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A page of chat messages.
      operationId: getApiHeadlessV1MessagesByChatRoomUuidChatRoomMessages
      x-operation-id-source: derived
    post:
      tags:
      - Headless - Member
      summary: Send a message to a chat room
      security:
      - bearerAuth: []
      parameters:
      - name: chat_room_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The sent message.
      operationId: postApiHeadlessV1MessagesByChatRoomUuidChatRoomMessages
      x-operation-id-source: derived
  /api/headless/v1/notifications:
    get:
      tags:
      - Headless - Member
      summary: List notifications
      security:
      - bearerAuth: []
      responses:
        '200':
          description: A page of notifications.
      operationId: getApiHeadlessV1Notifications
      x-operation-id-source: derived
  /api/headless/v1/profile:
    put:
      tags:
      - Headless - Member
      summary: Update the member profile
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The updated profile.
      operationId: putApiHeadlessV1Profile
      x-operation-id-source: derived
components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Admin API token in the format "Token AUTH_TOKEN". Community admins generate the token on the Developers -> Tokens page.
    bearerAuth:
      type: http
      scheme: bearer
      description: Member-scoped JWT access token from /api/v1/headless/auth_token in the format "Bearer ACCESS_TOKEN". Expires after one hour.
