openapi: 3.2.0
info:
  title: Circle Developer Platform Admin - Spaces API
  description: Circle (circle.so) is an all-in-one community platform for creators, coaches, and brands.
  version: '2.0'
  contact:
    name: Circle
    url: https://circle.so
  license:
    name: Proprietary
    url: https://circle.so/terms
servers:
- url: https://app.circle.so
  description: Circle production
security:
- tokenAuth: []
tags:
- name: Admin - Spaces
  description: Spaces, space groups, and their memberships.
paths:
  /api/admin/v2/spaces:
    get:
      tags:
      - Admin - Spaces
      summary: List spaces
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of spaces.
      operationId: getApiAdminV2Spaces
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Spaces
      summary: Create a space
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created space.
      operationId: postApiAdminV2Spaces
      x-operation-id-source: derived
  /api/admin/v2/spaces/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Admin - Spaces
      summary: Retrieve a space
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The space.
      operationId: getApiAdminV2SpacesById
      x-operation-id-source: derived
    put:
      tags:
      - Admin - Spaces
      summary: Update a space
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The updated space.
      operationId: putApiAdminV2SpacesById
      x-operation-id-source: derived
    delete:
      tags:
      - Admin - Spaces
      summary: Delete a space
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Deletion result.
      operationId: deleteApiAdminV2SpacesById
      x-operation-id-source: derived
  /api/admin/v2/space_groups:
    get:
      tags:
      - Admin - Spaces
      summary: List space groups
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of space groups.
      operationId: getApiAdminV2SpaceGroups
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Spaces
      summary: Create a space group
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created space group.
      operationId: postApiAdminV2SpaceGroups
      x-operation-id-source: derived
  /api/admin/v2/space_members:
    get:
      tags:
      - Admin - Spaces
      summary: List space members
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of space members.
      operationId: getApiAdminV2SpaceMembers
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Spaces
      summary: Add a member to a space
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The added space member.
      operationId: postApiAdminV2SpaceMembers
      x-operation-id-source: derived
    delete:
      tags:
      - Admin - Spaces
      summary: Remove a member from a space
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Removal result.
      operationId: deleteApiAdminV2SpaceMembers
      x-operation-id-source: derived
components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Admin API token in the format "Token AUTH_TOKEN". Community admins generate the token on the Developers -> Tokens page.
    bearerAuth:
      type: http
      scheme: bearer
      description: Member-scoped JWT access token from /api/v1/headless/auth_token in the format "Bearer ACCESS_TOKEN". Expires after one hour.
