openapi: 3.2.0
info:
  title: Circle Developer Platform Headless - Auth API
  description: Circle (circle.so) is an all-in-one community platform for creators, coaches, and brands.
  version: '2.0'
  contact:
    name: Circle
    url: https://circle.so
  license:
    name: Proprietary
    url: https://circle.so/terms
servers:
- url: https://app.circle.so
  description: Circle production
security:
- tokenAuth: []
tags:
- name: Headless - Auth
  description: Member JWT token exchange for the Headless Member API.
paths:
  /api/v1/headless/auth_token:
    post:
      tags:
      - Headless - Auth
      summary: Exchange a headless auth token for a member JWT
      description: Server-to-server exchange of a community-level headless auth token for a member-scoped JWT access token plus refresh token. Access tokens expire after one hour.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The issued access and refresh tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeadlessAuthToken'
      operationId: postApiV1HeadlessAuthToken
      x-operation-id-source: derived
components:
  schemas:
    HeadlessAuthToken:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        access_token_expires_at:
          type: string
        refresh_token_expires_at:
          type: string
        community_member_id:
          type: integer
        community_id:
          type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Admin API token in the format "Token AUTH_TOKEN". Community admins generate the token on the Developers -> Tokens page.
    bearerAuth:
      type: http
      scheme: bearer
      description: Member-scoped JWT access token from /api/v1/headless/auth_token in the format "Bearer ACCESS_TOKEN". Expires after one hour.
