openapi: 3.2.0
info:
  title: Circle Developer Platform Admin - Members API
  description: Circle (circle.so) is an all-in-one community platform for creators, coaches, and brands.
  version: '2.0'
  contact:
    name: Circle
    url: https://circle.so
  license:
    name: Proprietary
    url: https://circle.so/terms
servers:
- url: https://app.circle.so
  description: Circle production
security:
- tokenAuth: []
tags:
- name: Admin - Members
  description: Admin-authenticated community member management.
paths:
  /api/admin/v2/community_members:
    get:
      tags:
      - Admin - Members
      summary: List community members
      security:
      - tokenAuth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: A page of community members.
      operationId: getApiAdminV2CommunityMembers
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Members
      summary: Invite or create a community member
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created or invited member.
      operationId: postApiAdminV2CommunityMembers
      x-operation-id-source: derived
  /api/admin/v2/community_members/search:
    get:
      tags:
      - Admin - Members
      summary: Search community members
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Matching community members.
      operationId: getApiAdminV2CommunityMembersSearch
      x-operation-id-source: derived
  /api/admin/v2/community_members/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Admin - Members
      summary: Retrieve a community member
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The community member.
      operationId: getApiAdminV2CommunityMembersById
      x-operation-id-source: derived
    put:
      tags:
      - Admin - Members
      summary: Update a community member
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The updated member.
      operationId: putApiAdminV2CommunityMembersById
      x-operation-id-source: derived
    delete:
      tags:
      - Admin - Members
      summary: Delete a community member
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Deletion result.
      operationId: deleteApiAdminV2CommunityMembersById
      x-operation-id-source: derived
  /api/admin/v2/community_members/{id}/ban_member:
    put:
      tags:
      - Admin - Members
      summary: Ban a community member
      security:
      - tokenAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Ban result.
      operationId: putApiAdminV2CommunityMembersByIdBanMember
      x-operation-id-source: derived
  /api/admin/v2/member_tags:
    get:
      tags:
      - Admin - Members
      summary: List member tags
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of member tags.
      operationId: getApiAdminV2MemberTags
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Members
      summary: Create a member tag
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created member tag.
      operationId: postApiAdminV2MemberTags
      x-operation-id-source: derived
  /api/admin/v2/tagged_members:
    get:
      tags:
      - Admin - Members
      summary: List tagged members
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Members carrying a given tag.
      operationId: getApiAdminV2TaggedMembers
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Members
      summary: Apply a tag to a member
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The tag assignment.
      operationId: postApiAdminV2TaggedMembers
      x-operation-id-source: derived
    delete:
      tags:
      - Admin - Members
      summary: Remove a tag from a member
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Removal result.
      operationId: deleteApiAdminV2TaggedMembers
      x-operation-id-source: derived
components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Admin API token in the format "Token AUTH_TOKEN". Community admins generate the token on the Developers -> Tokens page.
    bearerAuth:
      type: http
      scheme: bearer
      description: Member-scoped JWT access token from /api/v1/headless/auth_token in the format "Bearer ACCESS_TOKEN". Expires after one hour.
