openapi: 3.2.0
info:
  title: Circle Developer Platform Admin - Posts API
  description: Circle (circle.so) is an all-in-one community platform for creators, coaches, and brands.
  version: '2.0'
  contact:
    name: Circle
    url: https://circle.so
  license:
    name: Proprietary
    url: https://circle.so/terms
servers:
- url: https://app.circle.so
  description: Circle production
security:
- tokenAuth: []
tags:
- name: Admin - Posts
  description: Posts, comments, and topics.
paths:
  /api/admin/v2/posts:
    get:
      tags:
      - Admin - Posts
      summary: List posts
      security:
      - tokenAuth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: A page of posts.
      operationId: getApiAdminV2Posts
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Posts
      summary: Create a post
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created post.
      operationId: postApiAdminV2Posts
      x-operation-id-source: derived
  /api/admin/v2/posts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Admin - Posts
      summary: Retrieve a post
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The post.
      operationId: getApiAdminV2PostsById
      x-operation-id-source: derived
    put:
      tags:
      - Admin - Posts
      summary: Update or move a post
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The updated post.
      operationId: putApiAdminV2PostsById
      x-operation-id-source: derived
    delete:
      tags:
      - Admin - Posts
      summary: Delete a post
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Deletion result.
      operationId: deleteApiAdminV2PostsById
      x-operation-id-source: derived
  /api/admin/v2/posts/{post_id}/summary:
    get:
      tags:
      - Admin - Posts
      summary: Get an AI summary of a post
      security:
      - tokenAuth: []
      parameters:
      - name: post_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The post summary.
      operationId: getApiAdminV2PostsByPostIdSummary
      x-operation-id-source: derived
  /api/admin/v2/comments:
    get:
      tags:
      - Admin - Posts
      summary: List comments
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of comments.
      operationId: getApiAdminV2Comments
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Posts
      summary: Create a comment
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created comment.
      operationId: postApiAdminV2Comments
      x-operation-id-source: derived
  /api/admin/v2/comments/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Admin - Posts
      summary: Retrieve a comment
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The comment.
      operationId: getApiAdminV2CommentsById
      x-operation-id-source: derived
    delete:
      tags:
      - Admin - Posts
      summary: Delete a comment
      security:
      - tokenAuth: []
      responses:
        '200':
          description: Deletion result.
      operationId: deleteApiAdminV2CommentsById
      x-operation-id-source: derived
  /api/admin/v2/topics:
    get:
      tags:
      - Admin - Posts
      summary: List topics
      security:
      - tokenAuth: []
      responses:
        '200':
          description: A page of topics.
      operationId: getApiAdminV2Topics
      x-operation-id-source: derived
    post:
      tags:
      - Admin - Posts
      summary: Create a topic
      security:
      - tokenAuth: []
      responses:
        '200':
          description: The created topic.
      operationId: postApiAdminV2Topics
      x-operation-id-source: derived
components:
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Admin API token in the format "Token AUTH_TOKEN". Community admins generate the token on the Developers -> Tokens page.
    bearerAuth:
      type: http
      scheme: bearer
      description: Member-scoped JWT access token from /api/v1/headless/auth_token in the format "Bearer ACCESS_TOKEN". Expires after one hour.
